.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 10em;
  border-radius: 20px;
  background-color: teal;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid white;
  color: white;
}
.btn:hover {
  background-color: rgb(5, 190, 190);
  text-decoration: none;
  color: white;
}
.btn:focus{
  background-color: rgb(5, 190, 190);
  color: white;
  border: 2px solid rgb(99, 26, 26);
  transform: scale(1.05)
}
