  .formulare-app{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    outline: none;
    color: rgb(82, 82, 82);
  }
  .body-formulary {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(235, 244, 242);
  }
  .form-formulary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 380px;
    max-width: 600px;
    background: white;
    display: grid;
    grid-template-rows: repeat(1, 150px);
    padding: 60px 45px 30px;
    border-radius: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    position: relative;
  }

  .form-formulary::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 150px;
    background: linear-gradient(65deg, #16d9e7, #5ef9a4);
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }

  .label-formulary {
    letter-spacing: 1px;
    width: 10em;
    text-align: center;
    font-weight: 700;
  }

  .input-formulary {
    margin: 7px 0 7px;
    border: 1px solid transparent;
    background: linear-gradient(65deg, #16d9e7, #5ef9a4);
    /* background: rgb(235, 244, 242); */
    height: 36px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    font-size: 1.1rem;
    cursor: pointer;
    padding-left: 10px;
    transition: 0.2s;
  }
  
  .security-container {
    margin-bottom: 20px;
    display: block;
    font-size: 0.8rem;
    transition: 0.3s;
    color: red;
  } 
  
 /*  p {
    background: red;
    width: 33%;
    height: 6px;
    margin: -2px 0 2px;
    border-radius: 50px;
    visibility: hidden;
    transition: 0.3s;
  } */

  .input-formulary:hover {
    filter: brightness(105%);
    transform: translateX(2px);
  } 

  /* .error input {
    color: red;
    border: 1px solid rgba(255, 0, 0, 0.527);
  } */
/* .progressRed {
    background: red;
    width: 33%;
    visibility: visible;
  }
  .progressBlue {
    background: #16d9e7;
    width: 67%;
    visibility: visible;
  }
  .progressGreen {
    width: 100%;
    background: #5ef9a4;
    visibility: visible;
  } */